extends layout

block content
  h1= title
  p Bienvenido al Reproductor  #{title}
  .container
    .row
      .col-lg-6.well
        // Indicates a successful or positive action
        button.btn.btn-success(type='button', onclick='recomendacion()') Recomendar
      .col-lg-6.well
        H2 Recomendaciones #{title}
        hr
        table.table.table-striped
          tr
            td Recomendación
