doctype html
html
  head
    title= title
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='css/bootstrap.min.css')
    // Optional theme
    link(rel='stylesheet', href='css/bootstrap-theme.min.css')
    // Latest compiled and minified JavaScript
  body
    block content
    script(src='js/jquery.js')
    script(src='js/bootstrap.min.js')
    script(src='js/funciones.js')
